ALTER TABLE uploads ADD COLUMN deleted_at TIMESTAMP; ALTER TABLE uploads ADD COLUMN expires_at TIMESTAMP;
ALTER TABLE shops ADD COLUMN operator_user_id UUID UNIQUE REFERENCES auth.users(id);

-- Payment Methods Table
CREATE TABLE IF NOT EXISTS payment_methods (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  shop_id UUID NOT NULL REFERENCES shops(id) ON DELETE CASCADE,
  type TEXT NOT NULL CHECK (type IN ('card', 'gateway', 'mpesa')),
  label TEXT NOT NULL,
  masked TEXT, -- Masked card number or phone for display
  provider_token TEXT, -- Token from payment provider (secure)
  status TEXT NOT NULL DEFAULT 'pending' CHECK (status IN ('active', 'expired', 'pending', 'failed')),
  is_deleted BOOLEAN DEFAULT FALSE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  deleted_at TIMESTAMP WITH TIME ZONE
);

-- Subscriptions Table
CREATE TABLE IF NOT EXISTS subscriptions (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  shop_id UUID NOT NULL REFERENCES shops(id) ON DELETE CASCADE,
  plan_type TEXT NOT NULL DEFAULT 'Free' CHECK (plan_type IN ('Free', 'Normal', 'Advanced', 'Enterprise')),
  status TEXT NOT NULL DEFAULT 'active' CHECK (status IN ('active', 'expired', 'pending', 'cancelled')),
  current_period_start TIMESTAMP WITH TIME ZONE,
  current_period_end TIMESTAMP WITH TIME ZONE,
  next_billing_date TIMESTAMP WITH TIME ZONE,
  payment_method_id UUID REFERENCES payment_methods(id),
  provider_subscription_id TEXT, -- Provider's subscription ID
  amount DECIMAL(10,2),
  currency TEXT DEFAULT 'KES',
  is_active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  cancelled_at TIMESTAMP WITH TIME ZONE
);

-- Payment Attempts Table (for tracking all payment events)
CREATE TABLE IF NOT EXISTS payment_attempts (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  shop_id UUID NOT NULL REFERENCES shops(id) ON DELETE CASCADE,
  subscription_id UUID REFERENCES subscriptions(id),
  payment_method_id UUID REFERENCES payment_methods(id),
  provider TEXT NOT NULL, -- 'card', 'mpesa', 'gateway'
  provider_transaction_id TEXT,
  amount DECIMAL(10,2),
  currency TEXT DEFAULT 'KES',
  status TEXT NOT NULL CHECK (status IN ('initiated', 'pending', 'successful', 'failed', 'refunded')),
  failure_reason TEXT,
  raw_payload JSONB, -- Store webhook payload for debugging
  webhook_id TEXT, -- Provider webhook ID for idempotency
  received_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  processed_at TIMESTAMP WITH TIME ZONE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_payment_methods_shop_id ON payment_methods(shop_id) WHERE is_deleted = FALSE;
CREATE INDEX IF NOT EXISTS idx_subscriptions_shop_id ON subscriptions(shop_id) WHERE is_active = TRUE;
CREATE INDEX IF NOT EXISTS idx_payment_attempts_shop_id ON payment_attempts(shop_id);
CREATE INDEX IF NOT EXISTS idx_payment_attempts_webhook_id ON payment_attempts(webhook_id);

-- Row Level Security (RLS) policies
ALTER TABLE payment_methods ENABLE ROW LEVEL SECURITY;
ALTER TABLE subscriptions ENABLE ROW LEVEL SECURITY;
ALTER TABLE payment_attempts ENABLE ROW LEVEL SECURITY;

-- Policies for payment_methods
CREATE POLICY "Users can view their shop's payment methods" ON payment_methods
  FOR SELECT USING (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

CREATE POLICY "Users can insert payment methods for their shop" ON payment_methods
  FOR INSERT WITH CHECK (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

CREATE POLICY "Users can update payment methods for their shop" ON payment_methods
  FOR UPDATE USING (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

-- Policies for subscriptions
CREATE POLICY "Users can view their shop's subscriptions" ON subscriptions
  FOR SELECT USING (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

CREATE POLICY "Users can insert subscriptions for their shop" ON subscriptions
  FOR INSERT WITH CHECK (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

CREATE POLICY "Users can update subscriptions for their shop" ON subscriptions
  FOR UPDATE USING (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

-- Policies for payment_attempts (read-only for users, backend manages)
CREATE POLICY "Users can view their shop's payment attempts" ON payment_attempts
  FOR SELECT USING (
    shop_id IN (
      SELECT id FROM shops WHERE operator_user_id = auth.uid()
    )
  );

-- Function to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ language 'plpgsql';

-- Triggers for updated_at
CREATE TRIGGER update_payment_methods_updated_at BEFORE UPDATE ON payment_methods FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_subscriptions_updated_at BEFORE UPDATE ON subscriptions FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
